<%- include('header.ejs') %>

<body>

<form action = "/answerDel" method="post">
    <label for="answer">Answer ID</label>
    <input type="text" id="answer" name="answer">
    <br><br>


    <button type="submit" class="btn btn-primary">Delete Answer</button>
</form>

</body>

<%- include('footer.ejs') %>