<%- include('header.ejs') %>

<style>
  h1 {
    padding-top: 50px;
    font-weight: 900;
  }
</style>

  <body class="body">
  <div class="center font">
    <h1 class="inner">Welcome to Study Tool</h1>
    <div class="inner section-left">
      <p class="text">With Study Tool, you can collaborate with others to get answers for your questions.</p>
      <a class="btn btn-dark" href="/postQuestion" style="width: 200px; ">Start here</a>
    </div>
    <div class="inner section-right">
      <p class="text">After exploring and collaborating, you can build your own study guide.</p>
      <a class="btn btn-dark" href="/studyGuide" style="width: 200px; ">Build it here</a>
    </div>
  </div>








  </body>
<%- include('footer.ejs') %>

