<%- include('header.ejs') %>


<body class="body">
<div class="center font moveDown">
<div class="center alertPad alert alert-danger " role="alert" style = "width: 400px;">
    Incorrect Login Information!
</div>
<form action = "/login" method="post">
    <label for="username">User Name</label>
    <br>
    <input type="text" id="username" name="username">
    <br><br>

    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password">
    <br><br>

    <input type="checkbox" id="showPass" onclick="showPassword()">
    <label for="showPass">Show Password</label>
    <br><br>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<a class="btn btn-dark" href="/signup" style="width: 200px; ">Need an account?</a>
</div>









</body>
<%- include('footer.ejs') %>