<%- include('header.ejs') %>

<style>
    body {
        background-color: #cdcccf;
    }
    .inner {
        padding-left: 40px;
    }

    h1 {
        padding-top: 20px;
        font-weight: 900;
    }
    .center {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .font {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
</style>

<body>
<div class="center font">
<h1 class="inner">Post Question</h1>





<form action="/postQuestion" method="post">
<div class="inner">
    <label for="subject" class="form-label">Select a subject</label>
    <label for="subject" class="form-label">Select a subject</label>
    <select class="form-select" aria-label="Default select example" style = "width: 800px" type="subject" id="subject" name="subject">
        <% for(var i=0; i<docs.length; i++) {%>
            <option value=<%= docs[i].subject %>><%= docs[i].subject %></option>
        <% } %>

    </select>
</div>
<div class="mb-3 inner">
    <label for="question" class="form-label">Enter Your Question</label>
    <textarea class="form-control" id="question" rows="3" style = "width: 800px" type="question" name="question"></textarea>
</div>
<div class="inner">
    <button type="submit" class="btn btn-dark" style = "width: 400px; ">Submit</button>
</div>
</form>
</div>
</body>
<%- include('footer.ejs') %>