<%- include('header.ejs') %>

<body>

<form action = "/questionDel" method="post">
    <label for="question">Question ID</label>
    <input type="text" id="question" name="question">
    <br><br>


    <button type="submit" class="btn btn-primary">Delete Question</button>
</form>

</body>

<%- include('footer.ejs') %>