<%- include('header.ejs') %>

<style>
    h1 {
        padding-top: 20px;
        font-weight: 800;
    }
</style>

<div class="center font">
    <body class="body">
    <form action="/searchQuestions" method="post">
        <div class="inner">
            <h1>Select a Subject</h1>
            <label for="subject" class="form-label"></label>
            <select class="form-select" aria-label="Default select example" style = "width: 800px" type="subject" id="subjectList" name="subject">
                <% for(var i=0; i<docs.length; i++) {%>
                    <option value=<%= docs[i].subject %>><%= docs[i].subject %></option>
                <% } %>

            </select>
        </div>
        <div class="inner">
            <button type="submit" class="btn btn-dark" style = "width: 400px; ">Submit</button>
        </div>
    </form>


    </body>
</div>














<%- include('footer.ejs') %>




