<%- include('header.ejs') %>

<style>
    body {
        background-color: #cdcccf;
    }
    h1 {
        padding-top: 20px;
        font-weight: 900;
    }
    .study {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .study-item {
        width: 600px
    }
    .inner {
        padding-left: 40px;
    }
    .center {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .font {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
</style>
<div class="center font">
    <body>
        <h1 class="inner">Study Guide</h1>
        <div class="inner">
            <div class="study">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item study-item">Question 1</li>
                    <li class="list-group-item study-item">Answer 1</li>
                </ul>
            </div>
            <div class="study">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item study-item">Question 2</li>
                    <li class="list-group-item study-item">Answer 2</li>
                </ul>
            </div>
            <div class="study">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item study-item">And so on...</li>
                    <li class="list-group-item study-item">...</li>
                </ul>
            </div>
        </div>
</div>
    </body>
<%- include('footer.ejs') %>