<%- include('header.ejs') %>

<style>
    h1 {
        padding-top: 20px;
        font-weight: 900;
    }
</style>

<div class="center font ">
    <body class="body">
    <h1 class="inner">Login to access the study guide feature</h1>

    </body>
</div>
    <%- include('footer.ejs') %>