<%- include('header.ejs') %>
<body>

<form action = "/addSubject" method="Post">
    <label for="subject">Add a Subject</label>
    <input type="text" id="subject" name="subject">
    <br><br>


    <button type="submit" class="btn btn-primary">Post Subject</button>
</form>

</body>
<%- include('footer.ejs') %>