<body>

<form action = "/delSubject" method="post">
    <label for="subject">User Name</label>
    <input type="text" id="subject" name="subject">
    <br><br>


    <button type="submit" class="btn btn-primary">Delete Subject</button>
</form>

</body>