<%- include('header.ejs') %>
<body>

<form action = "/delSubject" method="post">
    <label for="subject">Delete Subject</label>
    <input type="text" id="subject" name="subject">
    <br><br>


    <button type="submit" class="btn btn-primary">Delete Subject</button>
</form>

</body>
<%- include('footer.ejs') %>